<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  html-components

  <!-- 条件渲染 -->
  <% if(isShow) { %>
    <p>渲染p标签</p>
  <% } %>


  <p>不渲染</p>
  
</body>
</html>